@media screen and (min-width: 1024px) {
    .code-block {
        background-color: #F5F5F5;
        padding: 5px;
        white-space: pre;
        width: max-content;
        box-shadow: 5px 5px 10px #888888;
    }
    main {
        padding: 190px 50px 10px 50px;
    }
    .navigation{
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    .code-section{
        content-visibility: hidden;
    }
    .code-block{
        content-visibility: hidden;
    }
    .navigation{
        display: flex;
        flex-direction: column;
    }
    main {
        padding: 300px 50px 10px 50px;
    }
}

body {
    font-family: Gill Sans, sans-serif;
    font-size: 14px;
    line-height: 15px;
    padding: 0;
    margin: 0;
    background-color: #D6E0FF;
}


.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

header {
    background-color: #20398E;
    padding: 20px 10px 20px 50px;
    margin: 0;
    position: fixed;
    width: 100%;
}

.logo__title-box {
    display: flex;
    align-items: center;
    padding: 10px 0 15px 0;
}

.logo__img {
    width: 100px;
    height: 100px;
}

.title {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    padding: 0 0 0 20px;
}

nav {
    width: 450px;
    font-size: 20px;
}

nav > a {
    color: #FFFFFF;
    margin: 0 10px 0 10px;
}

a {
    color: #BDCCFF;
    text-decoration: none;
}

.navigation__link{
    padding: 5px 0 5px 0;
}

.navigation__link:hover {
    color: #4CAF50;
    border-radius: 4px;
}

.navigation__link.active{
    color:black;
}

h2 {
    color: #060833;
    text-transform: uppercase;
}


code {
    color: #1D205C;
    font-size: 8px;
    line-height: 1px;
    font-family: "JetBrains Mono", monospace;
    /*text-transform: uppercase;*/
    /*font-weight: bold;*/
}

li {
    display: flex;
    align-items: center;
}

.li__header-positioning {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

ul > li::before {
    content: "•";
    color: #3C42C2;
    /*color: #FFFFFF;*/
    font-size: 30px;
    margin-right: 10px;
}

ol {
    counter-reset: list-counter;
}

ol > li::before {
    counter-increment: list-counter;
    content: counter(list-counter) ".";
    color: #3C42C2;
    font-size: 16px;
    margin-right: 10px;
}

.li__left-content {
    display: flex;
    align-items: center;
}

.li__title {
    font-size: 18px;
}

.li__img {
    width: 18px;
    height: 18px;
    margin: 0 5px 0 5px;
    display: inline-block;
}

.li__date {
    font-size: 12px;
    color: #3C42C2;
    float: right;
}
.li__description {
    font-size: 14px;
    color: #1D205C;
    padding: 5px 10px 5px 10px;
}

p {
    margin: 0;
}

.about-me__text {
    color: #1D205C;
    font-size: 16px;
    padding: 0 0 0 40px;
}

footer {
    margin-top: 10px;
    padding: 10px 0 30px 50px;
    background-color: #20398E;
    color: #FFFFFF;
    line-height: 20px;
}

blockquote {
    color: #FFFFFF;
    text-decoration: underline;
}

.contacts {
    color: #FFFFFF;
}

.contacts__title {
    margin: 0;
}

.contacts__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.table__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table__head {
    background-color: white;
}

th:first-child, td:first-child {
    width: 10%;
}

th, td {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

.stack-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 20px 0;
}

.stack-section__content{
    font-size: 18px;
    padding: 5px 0 5px 0;
}

.stack-section__links {
    display: flex;
    flex-direction: column;
}

.stack-section__link {
    padding: 10px 0 5px 0;
    text-decoration: none;
    color: #4CAF50;
    font-size: 18px;
}

.preloader {
    display: flex;
    justify-content: left;
    align-items: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #BDCCFF;
    border-top: 5px solid #060833;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}